
.jumbotron {
    background-color: #244857;
    color: cornsilk;
    padding: 30px;
}

.btn {
    background-color: #6E2D28;
    color: cornsilk;
    border: black solid 1px;
    padding: 7px;
    margin: 3px;
    font-size: small;
}

.btn:hover {
    background-color: #5C475C;
    border: #5C475C solid 1px;
}

.form-control {
    width: 150px;
    border: #244857 solid 1px;
}

#seriesGifs {
    margin: 10px;
}

img {
    margin: 10px;
}
